<% if flash[:notice].present? %>
	<div class="alert alert-block">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4> Notice </h4>
		<%= flash[:notice] %>
	</div>
<% end %>

<% if flash[:error].present? %>
	<div class="alert alert-error">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4> Error </h4>
		<%= flash[:error] %>
	</div>
<% end %>	

<% if flash[:success].present? %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h4> Success! </h4>
		<%= flash[:success] %>
	</div>
<% end %>	