<%= form_for @project, :as => :project, :url => user_projects_url(current_user), :html => {:class => "form-inline"} do |f| %>
  <fieldset>
    <legend>New Project</legend>
    <label>Project Name:</label>
    <%= f.text_field :name, :placeholder => "testapp_development" %>    
    <%= f.submit "Create", :class => "btn btn-primary" %>    
  </fieldset>
<% end %>

<%= link_to "All projects", user_projects_url(current_user) %>

